
<div class="row show-grid">
  <div class="col">
    <div>


      <input type="email" [disabled]="false" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Merchant ID/ Name">
    </div>
  </div>
  <div class="col">
    <div>
      <input type="email" [disabled]="false" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Merchant stauts">
    </div>
  </div>


  <div class="col">
    <div>
      <nb-card-header>Merchant Status</nb-card-header>
      <nb-select selected="1">
         <nb-option value="1">Active</nb-option>
         <nb-option value="2">In-Active</nb-option>
      </nb-select>
    </div>
  </div>






</div>

<div class="row show-grid">
  <div class="col">
    <div>
      <button nbButton hero>
        Change
     </button>
    </div>
  </div>
</div>