 <div class="row">
  <div class="col"><label for="exampleInputEmail1"></label>
  
 </div>

 <div class="row">
  <div class="col top-buffer">
<div class="buttons-row">
 
</div>
  </div>
</div>
  </div>


  <div class="row show-grid">
    <div class="col-md-8">
      <div>
        <input type="email" [disabled]="false" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Merchant ID/ Name">
      </div>
    </div>
    <div class="col-md-4">
      <div>
     
        <button nbButton hero>
          SUBMIT
       </button>
      </div>
    </div>
  </div>