<div class="container">

   <div class="row">
      <div class="col"><label for="exampleInputEmail1"></label>
         <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Merchant ID">
      </div>
      <div class="col"><label for="exampleInputEmail1"></label>
         <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Terminal ID">
      </div>
      <div class="col"><label for="exampleInputEmail1"></label>
         <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Terminal Address">
      </div>
   </div>
   <div class="row">
      <div class="col"><label for="exampleInputEmail1"></label>
         <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Terminal State">
      </div>
      <div class="col"><label for="exampleInputEmail1"></label>
         <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Terminal City">
      </div>
      <div class="col"><label for="exampleInputEmail1"></label>
         <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Terminal Pincode">
      </div>
   </div>


   <div class="row">
      <div class="col top-buffer">
         <nb-card-header>Terminal Status</nb-card-header>
         <nb-select selected="1">
            <nb-option value="1">Active</nb-option>
            <nb-option value="2">In-Active</nb-option>
         </nb-select>
      </div>
      <div class="col top-buffer">
         <div class="buttons-row">
            <button nbButton hero>
               SUBMIT
            </button>
         </div>
            </div>
   </div>
 

 
